body {
  font-family: 'Open Sans', sans-serif;
}

/******************
JUMBOTRON STYLES
******************/

.jumbotron {
  background-image: url('../img/hero_image.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 0;
    color: #fff;
    text-align: center;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  text-shadow: 2px 2px 3px rgba(20,70,205,0.5);
  text-transform: uppercase;
}

.lead {
  text-shadow: 2px 2px 3px rgba(20,70,205,0.5);
}

/******************
INTRO/FORM STYLES
******************/

.hideme {
  display: none;
}

#raceForm {
  margin-top: 20px;
}

#enterButton,
#formButton {
  background-color: rgb(20,70,205);
  border-color: rgb(20,70,205);
}

.emptyInput {
  border-color: rgb(255,0,0);
}

/******************
TABLE STYLES
******************/
h2 {
  font-size: 1.5rem;
  margin-bottom: .75rem;
}

#race-data {
  margin-top: 30px;
}

.table thead th {
  border-bottom: 0;
}

.table th,
.table td {
  padding: .25rem;
}

th,
td {
 font-size: .8rem;
}

table .btn-secondary {
  background-color: rgb(20,70,205);
}

.btn-sm {
 font-size: .700rem;
}

/*************
FOOTER
*************/
footer {
margin-top: 20px;
text-align: center;
color: rgb(20,70,205);
padding: 1rem;
border-top: 3px solid rgb(20,70,205);
}

/**********************
MEDIA QUERY FOR TABLETS
AND LARGER SCREENS
**********************/
@media (min-width: 750px) {
  .jumbotron {
    height: 300px;
  }

  h1 {
    font-size: 4rem;
  }

  .lead {
    font-size: 1.75rem;
  }

  .table th,
  .table td {
    padding: .725rem;
  }

  th,
  td {
   font-size: 1rem;
  }

  .btn-sm {
   font-size: .9rem;
  }
}
